    body
    {
        font-family: 'Questrial', sans-serif;

    }
    #pojemnik
    {
        margin-left: auto;
        margin-right: auto;
    }
    #logo
    {
        font-size:70px;
        font-family: 'Dawning of a New Day', cursive;
        background-color: white;
        color: black;
        text-align: center;
        padding: 1px;
        border-bottom: 1px solid transparent;
        border-image: radial-gradient( #ee4c5f 0%, #fdf7f7 100%);
        border-image-slice: 1
    }
    #nawigacja
    {
        text-align: center;
        list-style: none;
        padding:0;
        padding-bottom:10px;
        padding-top:10px;
        margin:0;
        border-bottom: 1px solid transparent;
        border-image: radial-gradient( #ee4c5f 0%, #fdf7f7 100%);
        border-image-slice: 1
        
    }
    #glowne
    {
        margin-top: 10px;
        padding: 0;
        height: auto;
        padding:0;
        
    }

    @media(min-width: 1000px)
    {
        #pojemnik
        {
            width: 1000px;
        }
        #glowne
        {
            width: 1000px;
        }
    }

    #stopka
    {
        font-size:20px;
        color:#6b6b6b;
        clear:both;
        text-align: center;
        padding:10px;
        border-top: 1px solid transparent;
        border-image: radial-gradient( #ee4c5f 0%, #fdf7f7 100%);
        border-image-slice: 1;
        margin-top: 10px;
    }
    .option
    {
        font-size: 18px;
        min-width: 50px;
        height:25px;
        padding: 10px;
        display: inline-block;  
    }
    .option:hover
    {   
        color:#6b6b6b;
        cursor:pointer;
    }
    a 
    {
        text-decoration: none;
        color: inherit;
    }
    .galeria-pojemnik
    {
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }
    .galeria-zdjecie
    {
        margin-top:10px;
        margin-bottom: 10px;
        margin:10px;
    }
    .galeria-zdjecie:hover
    {
        cursor: pointer; 
        opacity: 0.9;
    }
    .stopka:hover 
    {
        cursor:pointer;
    }
    .przerwa
    {
        margin:10px;
    }